.about__us {
    width: 100%;
    padding: 50px 0 0;
    position: relative;
}

.about__us__fluid {
    width: 1520px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.heading__frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.heading {
    color: #142251;
    text-align: center;
    font-family: "Gilroy Medium", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 94px */
    letter-spacing: -3.76px;
}

.text__about {
    width: 400px;
    color: #989EB1;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 40.8px */
    letter-spacing: -1.02px;
}

.illustration__about__us {
    position: relative;
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
}

.pins__route {
    position: absolute;
}

.route1 {
    position: absolute;
    left: 91px;
    top: 44px;
    z-index: 4;
}

.route1__image {
    width: 865px;
}

.route2 {
    position: absolute;
    left: 920px;
    top: 40px;
}

.route2__image { }

.note__frame {
    margin: 40px 20px;
    width: 364px;
    height: 100%;
    transform: rotate(-12deg);
    flex-shrink: 0;
    border-radius: 18px;
    background: #F2F3F8;
    backdrop-filter: blur(20px);
}

.number {
    color: #989EB1;
}

.description__service {
    color: #142251;
    font-family: "Gilroy Medium", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -1.36px;
}

.first {
    width: 228px;
    height: 102px;
    display: flex;
    flex-wrap: nowrap;
    padding: 20px 50px 0 30px;
    z-index: 0;
}

.note {
    position: relative;
}

#note__pin {
    position: absolute;
    top: -34px;
    left: 170px;
}

.pin__frame {
    position: absolute;
}

.deg {
    transform: rotate(12deg);
}

.img__ell {
    transform: rotate(10deg);
    position: absolute;
    top: 85px;
    left: 30px;
    z-index: -3;
}

.bottom__divider {
    width: 364px;
    height: 1px;
    flex-shrink: 0;
    background: #E4E7F1;
}

.icon {
    width: 344px;
    display: inline-flex;
    margin: 30px 20px 20px 0;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-radius: 18px;
}

.header__of__note {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 364px;
    height: 45px;
    flex-shrink: 0;
}

.clip__text {
    color: #989EB1;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
    letter-spacing: -0.96px;
}

.left__frame {
    display: inline-flex;
    /* height: 56px; */
    padding: 12px;
    flex-direction: row;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 18px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.right__frames { }

.pen__frame {
    display: inline-flex;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 18px;
}

.close__frame {
    display: inline-flex;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 18px;
}

.mobile {
    display: none;
}

.polaroid__frame {
    position: relative;
    display: flex;
    flex-direction: column
}

#polaroid__pin {
    top: 24px;
    right: 4px;
}

.second {
    margin-top: -50px;
    width: 172px;
}

.tools__frame {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}

.third {
    width: 265px;
}

.tools__image {
    position: relative;
}

#tools__pin {
    left: 137px;
    top: -51px;
}

.review__frame {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin: 48px 0;
}

#review__pin {
    top: -30px;
    left: 15px;
}

.fourth {
    width: 163px;
}

@media(max-width: 1520px) {
    /*CONTAINER*/
    .about__us__fluid {
        width: 1200px;
    }

    .illustration__about__us {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        align-items: stretch;
        column-gap: 30px;
        row-gap: 50px;
    }

    .route1__image, .route2__image {
        display: none;
    }
}

@media(max-width: 1240px) {
    /*CONTAINER*/
    .about__us__fluid {
        width: 980px;
    }

    .illustration__about__us {
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }
}

@media(max-width: 1020px) {
    /*CONTAINER*/
    .about__us__fluid {
        width: 720px;
    }

    .illustration__about__us {
        justify-content: space-between;
        row-gap: 20px;
    }

    .note__frame {
        transform: rotate(0deg);
        width: -webkit-fill-available;
        height: 225px;
        margin: 0;
    }

    .header__of__note, .bottom__divider {
        width: 100%;
    }

    .icon, .pin__frame, .number {
        display: none;
    }

    .second, .third, .fourth {
        width: 50%;
        margin: 0;
    }

    .polaroid__frame, .tools__frame, .review__frame {
        width: 100%;
        height: 225px;
        margin: 0;
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        align-content: center;
        padding: 40px 60px;
        flex-shrink: 0;
        border-radius: 18px;
        background: #F2F3F8;
        column-gap: 30px;
    }

    .polaroid__image, .tools__image, .stars__image {
        width: 50%;
        height: 100%;
    }

    .not__mobile {
        display: none;
    }

    .mobile, .tools, .stars {
        width: 100%;
        height: 100%;
        display: block;
    }

    .description__service {
        font-size: 24px;
    }

    .img__ell {
        left: 140px;
    }
}

@media(max-width: 760px) {
    /*CONTAINER*/
    .about__us__fluid {
        width: 480px;
        gap: 30px;
    }

    .description__service {
        font-size: 20px;
    }

    .polaroid__frame, .tools__frame, .review__frame {
        height: 168px;
        padding: 20px;
    }

    .note__frame {
        height: auto;
    }

    .img__ell {
        top: 60px;
        left: 60px;
        scale: 0.6;
    }

    .illustration__about__us {
        padding: 0;
    }

    .heading__frame {
        align-items: flex-start;
    }

    .text__about {
        width: auto;
        text-align: start;
    }
}

@media(max-width: 520px) {
    /*CONTAINER*/
    .about__us__fluid {
        width: 360px;
    }

    .description__service {
        font-size: 17px;
    }

    .services {
        padding: 0;
    }

    .text__about {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 14px */
        letter-spacing: -0.42px;
    }
}

@media(max-width: 400px) {
    .about__us__fluid {
        width: -webkit-fill-available;
        box-sizing: border-box;
        padding: 0 20px;
    }
}