.services {
    width: 100%;
    padding: 50px 0 0;
    position: relative;
}

.services__container {
    width: 1400px;
    margin: auto;
    flex-shrink: 0;
    border-radius: 40px;
    background: #F3F6F9;
}

.about {
    font-size: 72px;
}

.heading__group {
    padding: 50px 50px 0 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about__text {
    width: 228px;
    color: #989EB1;
    font-family: "Gilroy Medium", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.9px;
}

.switcher {
    display: inline-flex;
    padding: 18px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    border-radius: 100px;
    background: #FFF;
}

.arrow {
    cursor: pointer;
}

.switcher__divider {
    width: 1px;
    height: 24px;
    background: #E4E7F1;
}

.slider {
    padding: 50px 10px 10px 10px;
    overflow: hidden;
}

.slides__container {
    height: 480px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.slide {
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    background: #FFF;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
}

.slide__image { }

.slide__info {
    width: 262px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.slide__heading {
    color: #142251;
    font-family: "Gilroy Medium", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%; /* 30.6px */
    letter-spacing: -1.36px;
    margin: 0 10px;
}

.slide__list {
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
    list-style-type: "- ";
}

.slide__text {
    color: #142251;
    font-family: "Gilroy Medium", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.68px;
}

.services__button {
    margin: 0 10px 10px 10px;
    width: 240px;
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    background: #142251;
    flex-direction: row;
    cursor: pointer;
}

.link__in__button {
    color: #FFF;
    font-family: "Gilroy Medium", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
    letter-spacing: -0.6px;
}

.white__add {
    width: 24px;
}

@media(max-width: 1520px) {
    /*CONTAINER*/
    .services__container {
        width: 1200px;
    }
}

@media(max-width: 1240px) {
    /*CONTAINER*/
    .services__container {
        width: 980px;
    }
}

@media(max-width: 1020px) {
    /*CONTAINER*/
    .services__container {
        width: 720px;
    }
}

@media(max-width: 760px) {
    /*CONTAINER*/
    .services__container {
        width: 480px;
        height: 655px;
        padding-bottom: 20px;
        overflow: hidden;
    }

    /*HEAD CONTAINER*/
    .heading__group {
        padding: 30px 20px 20px;
        margin: 0 0 0 15px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        align-content: flex-start;
        gap: 20px;
    }

    /*TEXT*/
    .about {
        text-align: start;
    }

    .switcher {
        display: none;
    }

    /*SLIDER FRAME*/
    .slider {
        padding: 0 20px 20px;
    }

    .slides__container {
        flex-wrap: wrap;
        gap: 20px;
    }

    /*CONTENT INSIDE SLIDE*/
    .slide, .slide__image {
        width: 100%;
    }

    .slide {
        gap: 15px;
        border-radius: 42px;
    }

    .slide__heading {
        font-size: 18px;
    }

    .services__button {
        width: -webkit-fill-available;
        box-sizing: border-box;
        padding: 18px 35px;
        border-radius: 14px;
    }

    .slide__info {
        gap: 20px
    }
}

@media(max-width: 520px) {
    /*CONTAINER*/
    .services__container {
        width: 360px;
        height: 575px;
    }

    .slide {
        border-radius: 30px;
    }

    .services {
        padding: 0;
    }
}

@media(max-width: 400px) {
    .services__fluid {
        width: -webkit-fill-available;
        box-sizing: border-box;
        padding: 0 20px;
    }

    .services__container {
        display: flex;
        width: 100%;
        flex-direction: column;
        height: 590px;
    }
}