header {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px 24px 30px;
}

.header__divider {
    width: 100%;
    height: 1px;
    flex-shrink: 0;
    opacity: 0.2;
    background: #142251;
}

.header__logo { }

.header__nav { }

.header__list {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.header__list li {
    display: inline;
}

.header__link {
    color: #142251;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 20px */
    letter-spacing: -0.6px;
}

.header__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: #213887;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 20px */
    letter-spacing: -0.6px;
    cursor: pointer;
}

.header__svg { }

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;
}

.introduction {
    position: relative;
    padding: 70px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 150px;
}

.article__introduction { }

h1 {
    width: 580px;
    font-family: "Gilroy Medium", sans-serif;
    color: #142251;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: 85%; /* 85px */
    letter-spacing: -4px;
    margin-bottom: 30px;
}

.agency {
    color: #989EB1;
    font-family: "Gilroy Medium", sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: 85%;
    letter-spacing: -4px;
}

.text__introduction {
    color: #989EB1;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
    letter-spacing: -0.72px;
}

.application__button {
    display: inline-flex;
    padding: 18px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 68px;
    border-radius: 12px;
    background: rgba(33, 56, 135, 0.06);
    color: #213887;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.72px;
    margin-top: 70px;
    cursor: pointer;
}

.aside__introduction {
    position: absolute;
    top: -70px;
    left: 523px;
    z-index: 0;
}

.arrow__down {
    margin-bottom: 0;
    padding: 15px;
    border-radius: 1000px;
    background-color: #F2F3F8;
}

.chat__button {
    position: fixed;
    right: 25px;
    bottom: 0;
    display: inline-flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #F2F3F8;
    z-index: 10;
}

.whatsapp {
    color: #142251;
    font-family: "Gilroy Medium", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 20px */
    letter-spacing: -0.6px;
    text-transform: lowercase;
}

.chat__divider {
    width: 1px;
    height: 20px;
    background: #E4E7F1;
}

.chat__email {
    color: #213887;
    font-family: "Gilroy Medium", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 20px */
    letter-spacing: -0.6px;
    text-decoration-line: underline;
    text-transform: lowercase;
}

.about__us {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 100%;
}

.heading__frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.heading {
    color: #142251;
    text-align: center;
    font-family: "Gilroy Medium", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 94px */
    letter-spacing: -3.76px;
}

.text__about {
    width: 400px;
    color: #989EB1;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 40.8px */
    letter-spacing: -1.02px;
}

.illustration__about__us {
    position: relative;
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
}

.pins__route {
    position: absolute;
}

.route1 {
    position: absolute;
    left: 91px;
    top: 44px;
    z-index: 4;
}

.route1__image {
    width: 865px;
}

.route2 {
    position: absolute;
    left: 920px;
    top: 40px;
}

.route2__image {

}

.note__frame {
    margin: 40px 20px;
    width: 364px;
    height: 100%;
    transform: rotate(-12deg);
    flex-shrink: 0;
    border-radius: 18px;
    background: #F2F3F8;
    backdrop-filter: blur(20px);
}

.number {
    color: #989EB1;
}

.description__service {
    color: #142251;
    font-family: "Gilroy Medium", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -1.36px;
}

.first {
    width: 228px;
    height: 102px;
    display: flex;
    flex-wrap: nowrap;
    padding: 20px 50px 0 30px;
    z-index: 0;
}

.note {
    position: relative;
}

#note__pin {
    position: absolute;
    top: -34px;
    left: 170px;
}

.pin__frame {
    position: absolute;
}

.deg {
    transform: rotate(10deg);
}

.img__ell {
    transform: rotate(10deg);
    position: absolute;
    top: 85px;
    left: 30px;
    z-index: -3;
}

.bottom__divider {
    width: 364px;
    height: 1px;
    flex-shrink: 0;
    background: #E4E7F1;
}

.icon {
    width: 344px;
    display: inline-flex;
    margin: 30px 20px 20px 0;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-radius: 18px;
}

.header__of__note {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 364px;
    height: 45px;
    flex-shrink: 0;
}

.clip__text {
    color: #989EB1;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
    letter-spacing: -0.96px;
}

.left__frame {
    display: inline-flex;
    /* height: 56px; */
    padding: 12px;
    flex-direction: row;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 18px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.right__frames { }

.pen__frame {
    display: inline-flex;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 18px;
}

.close__frame {
    display: inline-flex;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 18px;
}

.polaroid__frame {
    position: relative;
    display: flex;
    flex-direction: column
}

#polaroid__pin {
    top: 24px;
    right: 4px;
}

.second {
    margin-top: -50px;
    width: 172px;
}

.tools__frame {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}

.third {
    width: 265px;
}

.tools__image {
    position: relative;
}

#tools__pin {
    left: 137px;
    top: -51px;
}

.review__frame {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin: 48px 0;
}

#review__pin {
    top: -30px;
    left: 15px;
}

.fourth {
    width: 163px;
}

.services {
    margin: 0 50px;
    width: 1420px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #F3F6F9;
}

.services__container {
    height: 664px;
    position: relative;
}

.about {
    font-size: 72px;
}

.heading__group {
    padding: 50px 50px 0 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about__text {
    width: 228px;
    color: #989EB1;
    font-family: "Gilroy Medium", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.9px;
}

.switcher {
    display: inline-flex;
    padding: 18px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    border-radius: 100px;
    background: #FFF;
}

.arrow {
    cursor: pointer;
}

.switcher__divider {
    width: 1px;
    height: 24px;
    background: #E4E7F1;
}

.slider {
    padding: 50px 10px 10px 10px;
}

.slides__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.slide {
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    background: #FFF;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
}

.slide__image { }

.slide__info {
    width: 262px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.slide__heading {
    color: #142251;
    font-family: "Gilroy Medium", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%; /* 30.6px */
    letter-spacing: -1.36px;
    margin: 0 10px;
}

.slide__list {
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
    list-style-type: "- ";
}

.slide__text {
    color: #142251;
    font-family: "Gilroy Medium", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.68px;
}

.services__button {
    margin: 0 10px 10px 10px;
    width: 240px;
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    background: #142251;
    flex-direction: row;
    cursor: pointer;
}

.link__in__button {
    color: #FFF;
    font-family: "Gilroy Medium", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
    letter-spacing: -0.6px;
}

.white__add {
    width: 24px;
}

#slide5, #slide6 {
    visibility: hidden;
}

.methodology {
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: nowrap;
}

.method__article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    gap: 50px;
}

.method__head {
    width: 507px;
    color: #142251;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 84px */
    letter-spacing: -3.36px;
    text-align: left;
}

.flex__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content: center;
    gap: 10px;
}

.method__container {
    position: relative;
    padding: 20px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #989EB1;
    background: #FFF;
}

.numeric__text {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #989EB1;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
    letter-spacing: -0.6px;
    opacity: 60%;
}

.method__frame {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.text__method {
    color: #989EB1;
    font-family: "Gilroy Medium", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 36px */
    letter-spacing: -0.9px;
}

.method__aside {
    position: relative;
}

.methods__container {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    height: 600px;
    gap: 10px;
}

.container__method {
    position: relative;
    height: 100%;
    display: flex;
}

.end {
    align-items: flex-end;
}

.center {
    align-items: stretch;
    margin-left: -25px;
    z-index: -5;
}

.start {
    align-items: flex-start;
    margin-left: -25px;
    z-index: -10;
}

.method1, .method2, .method3 {
    width: 253px;
}

.back__svg {
    width: 1205px;
    position: absolute;
    right: -230px;
    top: 0;
    z-index: -20;
}

.user__group {
    position: relative;
    height: 768px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), #F2F3F8;
    padding: 50px 0 0 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.group__text { }

.user__head {
    font-family: "Gilroy Medium", sans-serif;
    text-align: left;
}

.group__paragraph {
    color: #989EB1;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 40.8px */
    letter-spacing: -1.02px;
    z-index: 1;
}

.group__blocks {
    width: 2580px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1;
}

.block__group {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    flex-shrink: 0;
    border-radius: 30px;
    background-color: #FFF;
    align-items: flex-end;
    gap: 112px;
}

.image__frame {
    padding: 20px;
}

.image {
    width: fit-content;
    display: inline-flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #F2F3F8;
}

.icon__user {
    width: 32px;
}

.text__frame {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding: 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 30px;
    background: #FFF;
}

.frame__paragraph {
    color: #989EB1;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 47.6px */
    letter-spacing: -1.02px;
}

.group__graphic {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.big__image {
    width: 1200px;
}