.user__group {
    width: 100%;
    position: relative;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), #F2F3F8;
    padding: 50px 0;
}

.user__fluid {
    width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.group__text { }

.user__head {
    font-family: "Gilroy Medium", sans-serif;
    text-align: left;
}

.group__paragraph {
    width: 420px;
    color: #989EB1;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 40.8px */
    letter-spacing: -1.02px;
    z-index: 1;
}

.group__blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1;
}

.block__group {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    flex-shrink: 0;
    border-radius: 30px;
    background-color: #FFF;
    align-items: flex-end;
    gap: 112px;
}

.image__frame {
    padding: 20px;
}

.image {
    width: fit-content;
    display: inline-flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #F2F3F8;
}

.icon__user {
    width: 32px;
}

.text__frame {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding: 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 30px;
    background: #fff0;
}

.frame__paragraph {
    color: #989EB1;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 47.6px */
    letter-spacing: -1.02px;
}

.group__graphic {
    position: absolute;
    right: 0;
    bottom: -4px;
    z-index: 0;
}

.big__image {
    width: 1200px;
}

@media(max-width: 1520px) {
    /*CONTAINER*/
    .user__fluid {
        width: 1200px;
    }
}

@media(max-width: 1240px) {
    /*CONTAINER*/
    .user__fluid {
        width: 980px;
    }

    /*BLOCK*/
    .block__group {
        gap: 0;
        width: 210px;
        height: auto;
    }

    /*ICON IN BLOCK*/
    .icon__user {
        width: 28px;
    }

    /*TEXT IN BLOCK*/
    .text__frame {
        padding: 24px;
    }

    /*TEXT FRAME*/
    .group__paragraph {
        font-size: 22px;
    }

    /*HEADING*/
    .user__head {
        z-index: 5;
    }

    /*ABSOLUTE IMAGE*/
    .group__graphic {
        scale: 0.8;
        right: -120px;
        bottom: -68px;
    }
}

@media(max-width: 1020px) {
    /*CONTAINER*/
    .user__group {
        padding: 40px 0;
    }

    .user__fluid {
        width: 720px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        row-gap: 20px;
        align-items: stretch;
    }


    /*BLOCKS*/
    .group__blocks {
        width: 444px;
        padding-top: 10px;
        order: 2;
    }

    /*TEXT FRAME*/
    .group__paragraph {
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 14px */
        letter-spacing: -0.42px;
        order: 1;
    }

    .frame__paragraph {
        font-family: "Gilroy Medium", sans-serif;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 28px */
        letter-spacing: -0.6px;
    }

    /*ABSOLUTE IMAGE*/
    .group__graphic {
        scale: 0.7;
        right: -180px;
        bottom: -100px;
    }
}

@media(max-width: 760px) {
    /*CONTAINER*/
    .user__group {
        padding: 40px 0 20px 0;
    }

    .user__fluid {
        width: 480px;
    }

    /*TEXT FRAME*/
    .group__paragraph {
        font-size: 18px;
    }

    /*ABSOLUTE IMAGE*/
    .group__graphic {
        scale: 0.5;
        right: -300px;
        bottom: -164px;
    }
}

@media(max-width: 520px) {
    .user__group {
        padding: 50px 0 20px 0;
        border-radius: 50px;
    }

    .user__fluid {
        width: 360px;
    }

    /*BLOCKS*/
    .group__blocks {
        width: auto;
    }

    /*TEXT FRAME*/
    .group__paragraph {
        width: auto;
        font-size: 14px;
    }

    /*BLOCK*/
    .block__group {
        width: 165px;
    }

    /*IMAGE IN BLOCK*/
    .image {
        padding: 20px;
    }

    /*TEXT IN BLOCK*/
    .frame__paragraph {
        font-size: 18px;
    }

    /*ABSOLUTE IMAGE*/
    .group__graphic {
        scale: 0.3;
        right: -420px;
        bottom: -230px;
    }
}

@media(max-width: 400px) {
    .user__fluid {
        width: -webkit-fill-available;
        box-sizing: border-box;
        padding: 0 20px;
    }

    .block__group {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .group__graphic {
        display: none;
    }
}